header
  h1 Crochet Admin
  nav
    a(href="/") Dashboard
    a(href="/patterns") Patterns
    a(href="/products") Products
    a(href="/api/patterns" target="_blank") API Patterns
    a(href="/api/products" target="_blank") API Products
